.mail-filterBar-container {
  background-color: #e5e5e5;
}

.compose-btn {
  display: flex;

  margin: 10px 0 13px 8px;
  padding: 18px 22px;
  font-size: 16px;

  border: none;
  border-radius: 15px;
  color: #5f6368;
  background-color: #ffffff;
  cursor: pointer;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  transition: background-color 0.2s, box-shadow 0.2s;
}

.compose-btn i {
  font-size: 1.2rem;
  margin-inline: 0 20px;
}

.compose-btn:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.mail-filterBar-container.collapsed {
  min-width: 80px;
}

.mail-filterBar-container p {
  display: flex;
  gap: 1em;
  margin: 0;
  max-width: 190px;
  height: 15px;

  /* line-height: 35px; */
  align-items: center;
  padding: 8px 15px 8px 27px;
  /* padding: 8px 25px; */
  border-radius: 0 20px 20px 0;
  cursor: pointer;
  transition: background-color 0.2s;
}

.mail-filterBar-container img {
  max-width: 15px;
}

.mail-filterBar-container p:hover {
  background-color: rgb(220, 220, 220);
}

.mail-sidebar-active {
  font-weight: bold;
  background-color: lightgray;
}

.mail-filterBar-container.collapsed .compose-btn i {
  margin: 0;
}

.mail-filterBar-container.collapsed p {
  margin: 0 18px;
  padding: 8px 16px;

  max-width: 0;
  height: 15px;

  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 50%;
  transition: background-color 0.2s ease, transform 0.2s ease;
}

.mail-filterBar-container.collapsed p:hover {
  /* */
  /* background-color: lightgray; 
  transform: scale(1.1); */

  /* min-width: 190px;
  border-radius: 0 20px 20px 0; */

  /* grid-template-columns: 250px 1fr; */
}

.mail-filterBar-container.collapsed img {
  width: 50px;
  /* margin: 5px auto; */
}

.mail-filterBar-container.collapsed span {
  display: none;
}
