.mail-items {
  /* display: flex;
  flex-direction: column;
  gap: 1em; */

  overflow: scroll;
}

.mail-item {
  display: grid;
  grid-template-columns: 43px 30px 200px auto auto 1fr auto;
  align-items: center;
  justify-content: space-between;

  /* padding: 8px; */
  position: relative;
  border: 1px solid #ebebeb;
  cursor: pointer;
}

.mail-separator {
  margin: 0 4px;
  color: #5f6368;
}

.mail-item.readed {
  background-color: #e5e5e5;
}

.mail-item.selected {
  background-color: #c2dbff;
  border-color: #9cc5ff;
}

.mail-item:hover {
  /* TODO ask help from Dori to do it exactly like in gmail */
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5);

  /* box-shadow: rgba(100, 121, 143, 0.12) 0px -1px 0px 0px inset; */
  /* border: 1px solid rgb(199, 199, 199); */
  /* box-shadow: 0 1px 1px rgba(0, 0, 0, 0.8), 0 1px 2px rgba(0, 0, 0, 0.2); */
}

.mail-item:hover .mail-checkbox-icon,
.mail-item:hover .mail-star-icon {
  color: #202124;
  border-color: #202124;
}

.mail-item:hover .mail-star-icon.starred {
  color: gold;
}

/* TODO make it like in gmail */
.mail-checkbox {
  display: flex;
  align-items: center;
  justify-content: center;

  position: relative;
}

.mail-checkbox-icon {
  width: 15px;
  height: 15px;

  appearance: none; /* Remove default checkbox styling */
  -webkit-appearance: none; /* For Safari */
  -moz-appearance: none; /* For Firefox */
  outline: none;
  border: 2px solid rgb(183, 183, 183);
  border-radius: 2px;
  cursor: pointer;

  margin: 0;
  padding: 0;

  z-index: 1;
}

.mail-checkbox-icon:checked::before {
  display: flex;
  justify-content: center;
  align-items: center;

  content: '✔';
  font-size: 10px;
  transform: translateY(-1px);
}

.mail-checkbox-icon:checked {
  border-color: #202124;
}

.mail-star {
  /* display: flex;
  align-items: center;
  justify-content: center; */

  position: relative;
}

.mail-star-icon {
  /* display: flex;
  align-items: center;
  justify-content: center; */

  position: relative;
  /* width: 40px;
  height: 40px; */
  /* justify-self: center;
  text-align: center; */

  font-size: 22px;
  line-height: 1;

  cursor: pointer;
  color: rgb(183, 183, 183);
  border-radius: 50%;
  /* transform: scale(1) ; */
  /* transition: background-color 2s ease; */

  overflow: hidden;
  /* transform: translateX(-11px); */
  z-index: 2;
}

/* TODOs:
make the star gold on :hover

make the background on a good position */

.mail-star-icon:hover {
  /* background-color: lightgray; */
  /* color: black; */
  /* position: relative; */
  /* z-index: 2; */
}

/* .mail-star-icon {
  position: relative; 
  z-index: 1;
} */

.mail-star-icon.starred {
  color: gold;
  z-index: 3;
}

/* .mail-star-icon.starred:hover{
  color: gold;

} */

.mail-checkbox::before,
.mail-star::before {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 0;
  height: 0;
  
  content: '';
  background-color: rgb(238, 238, 238);

  border-radius: 50%;
  transform: translate(-50%, -50%);
  transition: width 0.2s ease, height 0.2s ease;
  z-index: auto;
}

.mail-star::before {
  left: 30%;
}

.mail-checkbox:hover::before,
.mail-star:hover::before {
  width: 40px;
  height: 40px;
}

.mail-from,
.mail-subject,
.mail-body,
.mail-date {
  /* margin-right: 16px; */
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.mail-from {
  padding-inline: 5px 0;

  font-size: 17px;
  font-weight: bold;
  text-overflow: ellipsis;
}

.mail-subject {
  /* max-width: 150px; */
  font-size: 15px;
  text-overflow: ellipsis;
  color: black;
}

.mail-body {
  flex-grow: 1;
  /* max-width: 300px; */
  color: #5f6368;

  text-overflow: ellipsis;
}

.mail-date {
  /* min-width: 80px; */
  text-align: right;
  color: #5f6368;
  position: absolute;
  right: 0;
}

.btns-action {
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.mail-item:hover .btns-action {
  opacity: 1;
}

.mail-item:hover .mail-date {
  opacity: 0;
  pointer-events: none;
}

.mail-delete {
  background: none;
  border: none;
  font-size: 16px;
  cursor: pointer;
  color: #5f6368;
}

.mail-delete:hover {
  color: red;
}

.btn-action {
  background: none;
  border: none;

  width: 40px;
  height: 40px;

  border-radius: 50%;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.btn-action:hover {
  background-color: rgb(238, 238, 238);
}

.trash-icon {
  width: 16px;
  height: 16px;
}

.read-unread-icon {
  width: 19px;
  height: 19px;
}

.mail-remove-btn:hover .trash-icon {
  /* filter: brightness(0.5);  */
}
