.mail-items {
  /* display: flex;
  flex-direction: column;
  gap: 1em; */

  overflow: scroll;
}

/* TODO Change to grid */

.mail-item {
  /* display: flex; */

  display: grid;
  grid-template-columns: 43px 30px 200px auto auto 1fr auto;

  align-items: center;
  justify-content: space-between;
  position: relative;

  /* height: 15px;
  padding: 12px;
  border-bottom: 1px solid #e0e0e0; */
  /* border: 1px solid #e0e0e0; */

  border: 1px solid #ebebeb;

  cursor: pointer;
  /* transition: box-shadow 0.2s ease, background-color 0.2s ease; */
}

.mail-separator {
  margin: 0 4px;
  color: #5f6368;
}

.mail-item.active {
  background-color: #e5e5e5;
}

.mail-item:hover {
  /* TODO ask help from Dori to do it exactly like in gmail */
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5);

  /*  make the star and checkbox go black */
  color: black;

  /* box-shadow: rgba(100, 121, 143, 0.12) 0px -1px 0px 0px inset; */
  /* border: 1px solid rgb(199, 199, 199); */
  /* box-shadow: 0 1px 1px rgba(0, 0, 0, 0.8), 0 1px 2px rgba(0, 0, 0, 0.2); */
}

/* TODO make it like in gmail */
.mail-checkbox {
  margin-right: 12px;
  /* color:rgb(183, 183, 183); */
  border: 2px solid rgb(183, 183, 183);

  width: 20px;
  height: 20px;
  border: 2px solid rgb(183, 183, 183); /* Change border color */
  border-radius: 4px; /* Optional: rounded corners */
  appearance: none; /* Remove default checkbox styling */
  -webkit-appearance: none; /* For Safari */
  -moz-appearance: none; /* For Firefox */
  outline: none;
  cursor: pointer;

  /* appearance: none; 
  -webkit-appearance: none; 
  -moz-appearance: none; / */
}

.mail-star {
  /* margin-right: 12px; */
  font-size: 18px;
  cursor: pointer;
  color: rgb(183, 183, 183);
  /* transform: scale(1); */
}

.mail-star.starred {
  color: gold;
}

.mail-from,
.mail-subject,
.mail-body,
.mail-date {
  /* margin-right: 16px; */
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.mail-from {
  /* min-width: 150px; */
  font-size: 17px;
  font-weight: bold;
  text-overflow: ellipsis;
}

.mail-subject {
  /* max-width: 150px; */
  font-size: 15px;
  text-overflow: ellipsis;
  color: black;
}

.mail-body {
  flex-grow: 1;
  /* max-width: 300px; */
  color: #5f6368;

  text-overflow: ellipsis;
}

.mail-date {
  /* min-width: 80px; */
  text-align: right;
  color: #5f6368;
  position: absolute;
  right: 0;
}

.btns-action {
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.mail-item:hover .btns-action {
  opacity: 1;
}

.mail-item:hover .mail-date {
  opacity: 0;
  pointer-events: none;
}

.mail-delete {
  background: none;
  border: none;
  font-size: 16px;
  cursor: pointer;
  color: #5f6368;
}

.mail-delete:hover {
  color: red;
}

.btn-action {
  /* max-width: 30px; */
  /* font-size: 18px; */

  background: none;
  border: none;
  margin: 0 5px;
  padding: 8px;
  border-radius: 50%;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.btn-action:hover {
  background-color: lightgrey;
}

.trash-icon {
  width: 16px;
  height: 16px;
}

.read-unread-icon {
  width: 19px;
  height: 19px;
}

.mail-remove-btn:hover .trash-icon {
  /* filter: brightness(0.5);  */
}
